.teamContainer{
    display: flex;
    flex-direction: column;

}

.jumbotron{
    padding: 2px;
    margin-top: 20px;
}

.teamInfo{
    display: flex;
    flex-direction: column;
    border: 3px solid;
    /* width: 100%; */
    /* height: 100%; */
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

}



.leagueInfo{
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 40vh;
    font-size: large;
}

body{
    background-image: url('../../images/net.jpg');

}

.return{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-size: cover;
    margin: none;
}


