.navbar {
	background:white;
	border: 4px solid black;
}

.navbar-brand {
	padding: 8px;
}


.navbar .nav-link {
	color: black;
	font-family: 'Roboto', sans-serif;
}

.navbar .nav-link:hover {
	color: blue;
}

.fa-bars {
	color: white;
}

.NavBar-welcome {
  color: black;
  padding: 8px;
}