.navbar {
	background:black;
}

.navbar-brand {
	padding: 8px;
}


.navbar .nav-link {
	color: white;
	font-family: 'Roboto', sans-serif;
}

.navbar .nav-link:hover {
	color: blue;
}

.fa-bars {
	color: white;
}